.hero{

    margin-top:40px;
    
    }
    
    button{
    
    background:#238636;
    
    color:white;
    
    padding:15px 40px;
    
    border:none;
    
    border-radius:8px;
    
    cursor:pointer;
    
    font-size:18px;
    
    }